.app-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.app-table thead {
  background: var(--primary);
  color: white;
}

.app-table th,
.app-table td {
  padding: 14px;
  text-align: left;
}

.app-table tr {
  border-bottom: 1px solid #eee;
}

.app-table tbody tr:hover {
  background: #fafafa;
}